@import "./_variables";

* {
    font-family: 'Merriweather', serif;
    margin: 0;
}

.navbar-inverse {
    border-color: rgb(228, 228, 228); 
    background-color: rgba(255, 255, 255, 0.548);
}

.navbar-header > img {
    width: 125px;
    margin: 4px 10px 0 0;
}
